@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

/* latin-ext */
@font-face {
  font-family: 'Abril Fatface';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/abrilfatface/v12/zOL64pLDlL1D99S8g8PtiKchq-lmjdLh.woff2) format('woff2');
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Abril Fatface';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/abrilfatface/v12/zOL64pLDlL1D99S8g8PtiKchq-dmjQ.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
 
/***********************************************************************************************************/
 
 *, ::after, ::before {
  box-sizing: border-box;
  }

  body {
    background: #fbf2d5;
    font-family: Poppins, sans-serif;
    font-size: 16px;  
    margin: 0, auto;
  }

  h1 {
      text-align: center;
    }
  
  h1, h2 {
      font-family: 'Abril Fatface', Fallback, serif;
      font-size: 60px;
      margin: 0, auto;
      padding: 15px;
    }
  
  p {
      margin:20px 0px 16px;
      text-align: center;
      font-size: 20px;
    }
  
  ul {
      list-style: none;
      display: flex;
      align-items: flex-end;
      justify-content: space-evenly;
      margin: 0;
      padding: 0;
    }
  


/* MENU SECTION */

  .nav {
    background-color:#7FA99B;
    opacity: 0.7;
    width: auto;
    height: fit-content;
    padding: 30px 20px;
   }

   .home-btn {
    display: none;
  }

   .nav-list {
     float: right;
   }

   .nav-btn {
     padding: 15px;
     border-radius: 8px;
     color: #FFFFFF;
     font-weight: 500;
   }
   
   
    
/* ABOUT SECTION */

.flexible-layout {
  padding: 50px;
  text-align: center;
}

img {
  border-radius: 8px;
  width: 100%;
  max-width: 500px;
}

.grid-layout {
  padding: 50px;
  text-align: left;
}

    

/* CONTACT SECTION */

  footer {
      padding:15px;
      margin: 30px 0px 0px;
      background-color: #fbf2d5;
      text-align: center;
      font-size: 20px;    
    }

  .social-media {
      font-size: 40px;
    }

  .fa:hover{
      color: #7FA99B;
    }

  a {
    text-decoration: none;
    color: #000000;
    font-weight:500;
    transition-property: background-color;
    transition-duration: 0.2s;
    transition-timing-function: ease-in;
    }

  a:hover {
    background-color:#fbf2d5;
    color: #000000;
    }

/* ************************************************************************************* */

  @media (min-width: 900px) { 
    
    .nav {
      padding: 30px 80px; 
    }
  
    .flexible-layout {
      display: grid;
      grid-template-columns: 2fr 1fr;
      grid-template-rows: 1fr;
      row-gap: 20px;
      align-items: center; 
    }

    .grid-layout {
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-template-rows: 1fr;
      gap: 10px;
      align-items: center;
    }
  
    .about-section {
      justify-content: center;
      width: 80%;
    }
  
    .image-layout {
    grid-row: 1/-1;
    grid-column: 2/-1;
    }
  }
  
  
  @media (max-width: 430px) {
    .nav a {
      float: none;
      display: block;
      text-align: left;
    }
    
    .nav-list{
      float: none;
      display: none;
    } 
    
    /*********************** BUTTON ***************************/
    .container {
      display: inline-block;
      cursor: pointer;
    }
    
    .bar1, .bar2, .bar3 {
      width: 35px;
      height: 5px;
      background-color: #FFFFFF;
      margin: 6px 0;
      transition: 0.4s;
    }
    
    .change .bar1 {
      -webkit-transform: rotate(-45deg) translate(-9px, 6px);
      transform: rotate(-45deg) translate(-9px, 6px);
    }
    
    .change .bar2 {opacity: 0;}
    
    .change .bar3 {
      -webkit-transform: rotate(45deg) translate(-8px, -8px);
      transform: rotate(45deg) translate(-8px, -8px);
    }
  }